@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,700');


*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}


body {
	background-color: #598392;
	font-family: 'Cormorant Garamond', serif;
}

h2{
	background-color: #A06B9A;
	margin: 10px 0;
	padding: 10px;
}

nav ul {
	/*padding: 10px;*/
	overflow: auto;
	background-color: #A06B9A;
	list-style: none; /* This takes off bullet points of lis in a ul */
}

nav li	{
	float: left;
	width: 25%;
	text-align: center;
	border: 2px solid #260F26;
}
nav a {
	color: #260F26;
	text-decoration: none;
	font-size: 20px;
	transition: .5s;
}
nav a:hover {
	color: #BACDB0;
}
.ref-links{
	color: #F3E8EE;
	text-decoration: none;
}
.header {
	padding: 80px 20px;
	background-image: url("../images/purplerose.jpeg");
	background-size: cover;
	background-position: center;
	color: #F3E8EE;
	text-align: center;
}
.main-content:after {
  content: "";
  display: table;
  clear: both;
}
.main-content {
	background-color: #BACDB0;
	padding: 20px;
	margin: 20px;
	border: 2px solid #260F26;
	font-size: 20px;
	color: #260F26;
	text-indent: 10px;
}

.half-img {
	width: 25%;
	display: block;
	margin: 10px auto;
	border: 5px solid #F3E8EE;


}
label {
	display: block;
}

.input-changes {
		outline: none;
		font-size: 40px;
		width: 100%;
		padding: 15px 25px;
		margin: 10px 0;
		box-sizing: border-box;
		background-color: #F3E8EE;
		border: 4px solid #A06B9A;
		color:#260F26;

}
button {
	background-color: #598392;
	font-size: 30px;
	color: #F3E8EE;
	padding: 15px 30px;
	text-decoration: none;
	margin: 3px 2px;
	cursor: pointer;
	width: 25%;
}
label {
	font-size:30px;
}
.grid-img{
	background-color: #BACDB0;
	width: 48%;
	display: block;
	float: left;
	padding: 10px;
	margin: 1%;
	border: 5px solid #F3E8EE;
}
input[type='radio'] {
    transform: scale(2);
    /*float: left;*/
    /*margin: 30px 0px;*/
  	/*line-height: 30px;*/
  	display: inline-block;
  	margin-right: 20px;
  	
}
input[type='radio']:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #F3E8EE;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
    }

input[type='radio']:checked:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #A06B9A;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
}

.big-label {
	line-height: 60px;
}


/* These are utility classes
<===================================================>*/


.center-text {
	text-align: center;
}

.left-text{
	text-align: left;
}










