*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}


body {
	background-color: #598392;
}

nav ul {
	/*padding: 10px;*/
	overflow: auto;
	background-color: #A06B9A;
	list-style: none; /* This takes off bullet points of lis in a ul */
}

nav li	{
	float: left;
	width: 33.33%;
	text-align: center;
	border: 2px solid #260F26;
}
nav a {
	color: #260F26;
	text-decoration: none;
	font-size: 20px;
	transition: .5s;
}
nav a:hover {
	color: #BACDB0;
}

.header {
	padding: 80px 20px;
	background-image: url("../images/purplerose.jpeg");
	background-size: cover;
	background-position: center;
	color: #F3E8EE;
	text-align: center;
}

.main-content {
	background-color: #BACDB0;
	padding: 20px;
	margin: 20px;
	border: 2px solid #260F26;
	font-size: 20px;
	color: #260F26;
}
h2 {
	text-align: center;
}
.half-img {
	width: 50%;
	display: block;
	margin: 10px auto;
	border: 5px solid #F3E8EE;
}













